@import "ui/assets/styles/vars";

html {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
}
