@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira-sans-regular.woff2') format('woff2'),
  url('../fonts/fira-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira-sans-medium.woff2') format('woff2'),
  url('../fonts/fira-sans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira-sans-semiBold.woff2') format('woff2'),
  url('../fonts/fira-sans-semiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira-sans-bold.woff2') format('woff2'),
  url('../fonts/fira-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira-sans-bold.woff2') format('woff2'),
  url('../fonts/fira-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira-sans-extraBold.woff2') format('woff2'),
  url('../fonts/fira-sans-extraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
